.app{
  background-color: #2a6c84;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_calculator {
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.app_calculator_navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  min-height: 30px;
  padding: 10px;
}

.app_calculator_navbar_toggle {
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, 0.14);
  
}
